@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
body{
    text-align: center;
    background-color: #424549;
    color:#7289da;
    font-weight: bold;
}

html {
    background-color: #424549;
}

.CollegeDisplayDiv{
    margin: auto;
}
.BackgroundDiv{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;
    background-color: #424549;
    color:#7289da;
    font-weight: bold;
    
}
.linkToCollege{
   cursor: pointer;
}

.CatalogDiv{
    width: 75%;
    margin-right: 20%;
    margin-left: 15%;
}

.accountDiv{
    width: 75%;
    color: white;
    margin: auto;
    margin-top: 5%;
    background-color: white;
}
.linkToMain{
    cursor: pointer;
}
   
.searchBtn{
    display: inline-flex;
    font-size: 7rem;
    line-height: 1.5;
    top: 35%;
    position: fixed;
    padding-left: 0%;
    margin-left: 0%;
    color:#7289da;
}

.CatalogAndSearch{
    width: 100%;
}

.CollegeViewPane{
    width: 80%;
    margin: auto;
    color:#7289da

}

.FullWidth{
    width:100%;
}
.signUpDiv{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: white;
}

.signInDiv{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: white;
    width: 40%;

}

.BigText{
    width: 100%;
    margin: auto;
    display: block;
    align-self: center;
}

span{
    width: 40%;
    display: inline-block;
}