@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
body{
    text-align: center;
    background-color: #424549;
    color:#7289da;
    font-weight: bold;



}

html {
    background-color: #424549;
}

.CollegeDisplayDiv{

    margin: auto;




}
.BackgroundDiv{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;
    background-color: #424549;
    color:#7289da;
    font-weight: bold;
    
}
.linkToCollege{
   cursor: pointer;


}

.CatalogDiv{
    width: 75%;
    margin: auto;
}

   

